 <% provide :page_title, "Questions"%>
 <%= currently_at "All Questions" %>

 <div class = "mt-2" >   
     <% @questions.each do |question| %>
    <div class = "border border-5 border-start-0  border-end-0 p-3 shadow-lg" id = "question-<%= question.id %>">
        <div class="d-flex justify-content-start">
            <h3 class="d-flex  bd-highlight"><%= question.title %></h3> 
            <p class="d-flex  bd-highlight ps-2 pt-2"> <%= question.created_at.getlocal.strftime("%d.%m.%y  %H:%M") %></p>
        </div>
            <p> <%= question.body %><p>
            <p> <%= link_to 'Show', question_path(question.id), class: "btn btn-outline-primary btn-sm" %>
            <%= link_to 'Edit', edit_question_path(question.id), class: "btn btn-outline-secondary btn-sm" %>
            <%= link_to 'Delete', question_path(question.id) , method: :delete,  data: {confirm: "Are you sure?"} , class: "btn btn-outline-dark btn-sm" %>
            </p>   
    </div>

    <% end %>
<div>
